<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.jennatillotson.musicfind">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ArtistSearch">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ArtistListActivity"
            android:label="@string/results"/>

        <activity android:name=".ArtistDetailActivity"
            android:label="Artist Details"/>

        <activity android:name=".FavoritesList"
            android:label="@string/favs_list"/>

        <activity android:name=".DiscographyActivity"
            android:label="Discography" />

        <activity android:name=".AboutPage"
            android:label="About" />
    </application>

</manifest>